/* Reset CSS */
:root {
    --primary-color: #3498db;
    --secondary-color: #c184dd;
    --background-color: #f5f5f5;
    --text-color: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

.player-inputs {
    display: flex;
    gap: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    min-height: 90px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    background-color: var(--background-color);
    min-height: 500px;
    min-width: 500px;
}
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}